<h1>Contacts</h1> 
<a href='/signup'>Signup!</a> 
<a href='/login'>Login</a>
<a href='/logout'>Logout</a>

<% @contacts.each do |contact| %>
  <h2> <a href= '/contacts/<%= contact.id %>'> <%= contact.full_name %></a></h2>
  <p> Middle Name: <%= contact.middle_name %></p>
  <p> Bio: <%= contact.bio %> </p>
  <p><%= contact.email %> </p>
<% end %>